/* main.css - Import orchestrator */

/* Base Styles */
@import url('./base/reset.css');
@import url('./base/variables.css');

/* Layout */
@import url('./layout/header.css');
@import url('./layout/footer.css');
@import url('./layout/grid.css');

/* Components */
@import url('./components/filters.css');
@import url('./components/buttons.css');
@import url('./components/product-card.css');
@import url('./components/modals.css');
@import url('./components/badges.css');
@import url('./components/stats.css');

/* States */
@import url('./states/loading.css');
@import url('./states/error.css');
@import url('./states/empty.css');

/* Utils */
@import url('./utils/floating.css');
@import url('./utils/responsive.css');

/* Themes (load last) */
@import url('./themes/light-theme.css');
@import url('./themes/dark-theme.css');
